
<% if current_user && current_user.admin? %>
  <%= link_to "Edit Property", edit_property_path(@property) %>  |
  <%= link_to "Delete Property", property_path(@property),
                                :data => {:confirm => "Are you sure?",
                                          :method => 'delete'}%>  |
<% else %>
  <%= link_to "Add a review", new_property_review_path(@property, @review) %>
<% end %>

<h2><%= @property.name %></h2>
<h5>Posted by: <%= @property.user.email %></h5>

<h4><%= @property.description %></h4>
<br>

  <% if @property.reviews.any? %>

<h3>Reviews of this property</h3>
<br>
  <ul>
    <% @property.reviews.each do |review| %>
      <li><%= link_to review.text, property_review_path(@property, review) %> -- <small><%= review.user.email %></small>
      </li>
      <hr>
    <% end %>
  </ul>
  <% else %>
     <p><h4>There are currently no reviews for this property</h4></p>
   <% end %>
