<%= render "layouts/errors", :object => @review %>

<%= form_for [@property, @review] do |f| %>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
